# JSON FrequentFlyerForum-Profiles

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import pandas as pd
import json

In [ ]:
# Download a file based on its file ID.
file_id = '1rgUsPEkpNriRvdGF7ve7NKvTpHPWKizp'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('FrequentFlyerForum-Profiles.json')

In [ ]:
with open('/content/FrequentFlyerForum-Profiles.json') as f: 
    q = json.load(f)

In [ ]:
len(q)  # Словарь из одного элемента, в котором по ключу 'Forum Profiles' лежит список

1

In [ ]:
df = pd.DataFrame(q['Forum Profiles'])
df.head()

                                  Registered Flights  ...                                         Real Name
0  [{'Date': '2017-03-04', 'Codeshare': False, 'A...  ...           {'Last Name': None, 'First Name': None}
1  [{'Date': '2017-08-31', 'Codeshare': True, 'Ar...  ...     {'Last Name': 'ZYKOV', 'First Name': 'NAZAR'}
2  [{'Date': '2017-09-15', 'Codeshare': True, 'Ar...  ...           {'Last Name': None, 'First Name': None}
3  [{'Date': '2017-09-18', 'Codeshare': True, 'Ar...  ...           {'Last Name': None, 'First Name': None}
4  [{'Date': '2017-08-15', 'Codeshare': False, 'A...  ...  {'Last Name': 'D'YAKOV', 'First Name': 'RUSLAN'}

[5 rows x 6 columns]

In [ ]:
df['Travel Documents'].transform(str).unique()  # Ни у кого не указан паспорт, атрибут можно удалить

array(["[{'Passports': None}]"], dtype=object)

In [ ]:
df['Loyality Programm'][1]

[{'Number': ' 658121632', 'Status': 'Basic', 'programm': 'SU'},
 {'Number': ' 356246372', 'Status': 'Elite+', 'programm': 'DT'},
 {'Number': ' 388423193', 'Status': 'Basic', 'programm': 'KE'}]

In [ ]:
clear_df = df.drop(columns=['Travel Documents', 'Real Name', 'Loyality Programm'])

In [ ]:
df.NickName.transform(lambda x: x[:13]).unique()
# Никнеймы все уникальны, можно использовать как индекс с учётом статичности данных можно выбрать часть с числом

array(['FrequentFlyer'], dtype=object)

In [ ]:
clear_df['NickName'] = df.NickName.transform(lambda x: int(x[13:]))
clear_df.set_index('NickName', inplace=True)

In [ ]:
clear_df['First Name'] = df['Real Name'].transform(lambda x: x['First Name'])
clear_df['Last Name'] = df['Real Name'].transform(lambda x: x['Last Name'])

In [ ]:
clear_df.head()

                                         Registered Flights  ... Last Name
NickName                                                     ...
0         [{'Date': '2017-03-04', 'Codeshare': False, 'A...  ...      None
2         [{'Date': '2017-08-31', 'Codeshare': True, 'Ar...  ...      None
4         [{'Date': '2017-09-15', 'Codeshare': True, 'Ar...  ...   D'YAKOV
5         [{'Date': '2017-09-18', 'Codeshare': True, 'Ar...  ...      None
6         [{'Date': '2017-08-15', 'Codeshare': False, 'A...  ...      None

[5 rows x 4 columns]

In [ ]:
R_F_df = clear_df['Registered Flights'].reset_index()

In [ ]:
r_f = []
for NickName, row in R_F_df.iterrows():
    for flight in row['Registered Flights']:
        r_f.append({'NickName': NickName,
                    'Arrival_Airport': flight['Arrival']['Airport'],
                    'Arrival_City': flight['Arrival']['City'],
                    'Arrival_Country': flight['Arrival']['Country'],
                    'Departure_Airport': flight['Departure']['Airport'],
                    'Departure_City': flight['Departure']['City'],
                    'Departure_Country': flight['Departure']['Country'],
                    'Date': flight['Date'],
                    'Codeshare': flight['Codeshare'],
                    'Flight': flight['Flight'],
                    })

In [ ]:
res_df = pd.DataFrame(r_f)

In [ ]:
merge_df = clear_df[['Sex', 'First Name', 'Last Name']]

In [ ]:
parsed_df = res_df.merge(merge_df, how='left', left_on='NickName', right_index=True)

In [ ]:
parsed_df.head()

   NickName Arrival_Airport   Arrival_City  ...   Sex First Name Last Name
0         0             PIT  Pittsburgh PA  ...  Male       None      None
1         0             DTW     Detroit MI  ...  Male       None      None
2         0             LGA    New York NY  ...  Male       None      None
3         0             WAW         Warsaw  ...  Male       None      None
4         0             ATL     Atlanta GA  ...  Male       None      None

[5 rows x 13 columns]

In [ ]:
parsed_df.to_csv('FrequentFlyerForum-Profiles.csv')

# BoardingData.csv

In [ ]:
file_id = '1tsdyieiuvd2_soYZfnWf2KwYfiNfZ5bG'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('BoardingData.csv')

In [ ]:
bd_df = pd.read_csv("/content/BoardingData.csv", sep=';')  # boarding data df

In [ ]:
bd_df.head()

  PassengerFirstName PassengerSecondName  ... CodeShare Destination
0            SAVELII         VIKTOROVICH  ...       Own      Moscow
1                LEV           MARKOVICH  ...       Own   Volgograd
2            NIKOLAI                  I.  ...       Own   Volgograd
3           ANATOLII           PETROVICH  ...       Own   Volgograd
4          MIROSLAVA      VIACHESLAVOVNA  ...       Own      Moscow

[5 rows x 14 columns]

tab

In [ ]:
file_id = '1PAh6QIzje6T9TuEl41HY06bmCkGf3TTH'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('Sirena-export-fixed.tab')

In [ ]:
sirena_df = pd.read_table('Sirena-export-fixed.tab', )

In [ ]:
sirena_df.head()

  PaxName                                                     PaxBirthDateDepartDate  DepartTime  ArrivalDate ArrivalTime FlightCodeShFrom  Dest  Code  e-Ticket          TravelDoc   Seat  Meal  TrvClsFare  Baggage     PaxAdditionalInfo                                           AgentInfo
0  ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ                      ...
1  КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ                    ...
2  ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА               ...
3  ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ                      ...
4  НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ                   ...

В качестве разделителя используются пробелы, однако если импортировать с параметром sep=' ' будет ошибка, поскольку в пределах одного поля PaxName ФИО разделены также пробелом, однако есть разница в количестве пробелов: в ФИО 1, между столбцами 2+.
Документ был обработан в excel

# SkyTeam-Exchange.csv

In [ ]:
file_id = '19YWePJt3aR5NQNhQ_5CYQzgUsTEFuWCJ'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('1.json')

In [ ]:
with open('/content/1.json') as f:  # я не знаю как сделать человеческое имя
    q = json.load(f)

In [ ]:
len(q)

366

In [ ]:
q['2017-01-01']['AF1145']  # пример записи

{'FF': {'FB 520518073': {'CLASS': 'Y', 'FARE': 'YRSTFN'}},
 'FROM': 'SVO',
 'STATUS': 'LANDED',
 'TO': 'CDG'}

In [ ]:
a = []
for i in q.keys():
    for j in q[i].keys():
        a.append(q[i][j]['FF'])

In [ ]:
len(max(a, key=len))

190

In [ ]:
flights = []

for date in q.keys():
    for flight in q[date].keys():
        for card in q[date][flight]['FF'].keys():
            flights.append({
                'card': card,
                'date': date,
                'flight': flight,
                'from': q[date][flight]['FROM'],
                'to': q[date][flight]['TO'],
                # Статус нам не нужен, мы оцениваем данные 
                'status': q[date][flight]['STATUS'],
                'class':q[date][flight]['FF'][card]['CLASS'],
                'fare':q[date][flight]['FF'][card]['FARE'],
            })

In [ ]:
file_id = '1_NU3ImudoBQRzJpRwqg9Iu7FlM-vEH0e'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('DATA.csv')

In [ ]:
qwe = pd.read_csv('DATA.csv')

In [ ]:
len(qwe)

1687053

In [ ]:
yaml_df = pd.DataFrame(flights)

In [ ]:
yaml_df.to_csv('SkyTeam-Exchange.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
temp = pd.read_table('Sirena-export-fixed.txt', encoding='UTF-16 LE')

In [ ]:
temp.to_csv('Sirena-export-fixed.csv', encoding='UTF-8')

In [ ]:
temp.head()

                           PaxName  PaxBirthDa  ...  Unnamed: 18    AgentInfo
0         ОЗЕРОВ ИЛЬДАР ДАНИИЛОВИЧ  15.05.1999  ...   38116280.0       Go2See
1       КОЛОСОВ САМИР ТАМЕРЛАНОВИЧ         NaN  ...  284903754.0          NaN
2  ИГНАТОВА СНЕЖАНА КОНСТАНТИНОВНА         NaN  ...          NaN    KupiBilet
3         ЖАРОВ ПЛАТОН АЛЬБЕРТОВИЧ  02.05.1999  ...  884556993.0  Travelgenio
4      НИКОЛЬСКИЙ НИКОЛАЙ ИГОРЕВИЧ  26.12.1990  ...  183142068.0  OZON.travel

[5 rows x 20 columns]

# YourBoardingPassDotAero.zip

In [ ]:
# Download a file based on its file ID.
file_id = '1kbweQyVmAgxwRAyyyJ9uGTliG1D66bX8'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('YourBoardingPassDotAero.zip')

In [ ]:
import zipfile

In [ ]:
with zipfile.ZipFile('/content/YourBoardingPassDotAero.zip') as z:
    z.extractall(path='/content/Boarding_extract')

In [ ]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import os
from tqdm import tqdm

In [ ]:
BDP = pd.DataFrame(columns=['sequence', 'gender', 'name', 'hz', 'flightNumber', 'cityFrom', 'cityTo', 'gate',
                           'airportFrom', 'airportTo', 'date', 'time', 'share', 'seat', 'PNR', 'ticket'])

In [ ]:
data_for_df = []
for file in tqdm(os.listdir('/content/Boarding_extract')):
    filecsv = file.replace('xlsx', 'csv')
    if (os.path.exists(_dir+filecsv)):
        continue
    wb = load_workbook('/content/Boarding_extract/' + file)
    for sheet in wb:
        row = dict()
        row['sequence']=sheet['H1'].value
        row['gender']=sheet['A3'].value
        row['name']=sheet['B3'].value
        row['fare']=sheet['H3'].value
        row['flightNumber']=sheet['A5'].value
        row['cityFrom']=sheet['D5'].value
        row['cityTo']=sheet['H5'].value
        row['gate']=sheet['B7'].value
        row['airportFrom']=sheet['D7'].value
        row['airportTo']=sheet['H7'].value
        row['date']=sheet['A9'].value
        row['time']=sheet['C9'].value
        row['share']=sheet['E9'].value
        row['seat']=sheet['H11'].value
        row['PNR']=sheet['B13'].value
        row['ticket']=sheet['E13'].value
        data.append(row)
BDP = pd.DataFrame(data)
BDP.to_csv('YourBoardingPassDotAero.csv')

# Skyteam timetable

In [ ]:
# https://developers.google.com/drive/v2/web/search-parameters
listed = drive.ListFile({'q': "title contains 'Skyteam_Timetable_' and '1avVTxmokm_BCZUCQdVBkLfi0vJGpfRZJ' in parents"}).GetList()
for file in listed:
  print('title {}, id {}'.format(file['title'], file['id']))

title Skyteam_Timetable_24072_27514.csv, id 1RZLlFOAocdrAR4SIlwhVfSjRuSM-bBQk
title Skyteam_Timetable_20634_24072.csv, id 1l6XJk38eFsEamwMAkY0vxDCSarVqZqOp
title Skyteam_Timetable_17196_20633.csv, id 18DCqyXEXLMnEflhf6Y0HQgX6uPZg0mbs
title Skyteam_Timetable_13758_17195.csv, id 1iDlZpjSOKiao3WTL-YmK5SyOnCj0W5yI
title Skyteam_Timetable_10320_13757.csv, id 1k3XTpxYDxpHMtoSSq25cvJHMalM4yESv
title Skyteam_Timetable_6882_10319.csv, id 1t-WGXYhPB5ExgcmWaXnHNoV70IZvDDmv
title Skyteam_Timetable_3445_6881.csv, id 1WEyO24zU9WcfPLoVgOhGg9M8GGm6Foe3
title Skyteam_Timetable_5_3444.csv, id 1Nk63uzGZAqAk4_wRFNJOFMpdBmY_oiG5

In [ ]:
for i in listed:
    i.GetContentFile(i['title'])

In [ ]:
skyteam_timetable_raw_filenames = [i['title'] for i in listed]
skyteam_timetable_raw_filenames.sort(key = lambda x: int(x.split('_')[-2]))
skyteam_timetable_raw_filenames

['Skyteam_Timetable_5_3444.csv',
 'Skyteam_Timetable_3445_6881.csv',
 'Skyteam_Timetable_6882_10319.csv',
 'Skyteam_Timetable_10320_13757.csv',
 'Skyteam_Timetable_13758_17195.csv',
 'Skyteam_Timetable_17196_20633.csv',
 'Skyteam_Timetable_20634_24072.csv',
 'Skyteam_Timetable_24072_27514.csv']

In [ ]:
skyteam_t_df = pd.DataFrame()
for f in skyteam_timetable_raw_filenames:
    skyteam_t_df = pd.concat([skyteam_t_df, pd.read_csv(f)])

In [ ]:
skyteam_t_df.head()

   Unnamed: 0           Validity      Days  ...     city_to    country_to airport_to
0           0  01 Nov  -  31 Jan   1234567  ...  Amsterdam    Netherlands        AMS
1           1  01 Nov  -  31 Jan   1234567  ...  Amsterdam    Netherlands        AMS
2           2  01 Nov  -  23 Dec   1234567  ...  Amsterdam    Netherlands        AMS
3           3  26 Dec  -  06 Jan  1  34567  ...  Amsterdam    Netherlands        AMS
4           4  07 Jan  -  31 Jan   1234567  ...  Amsterdam    Netherlands        AMS

[5 rows x 14 columns]

In [ ]:
filename = 'Skyteam_Timetable.csv'
skyteam_t_df.to_csv(filename)

uploaded = drive.CreateFile({'title': filename, 'parents': ['1t02NJlk6b_k8djN2l9nCPt0U1AKjypxu']})
uploaded.SetContentFile(filename)
uploaded.Upload()

In [ ]:
# Download a file based on its file ID.
file_id = '1gJlZv88gJ7srHHrKUHdm90xKKiUbecsx'
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('PointzAggregator-AirlinesData.xml')

In [ ]:
!pip install git+https://github.com/pandas-dev/pandas

Collecting git+https://github.com/pandas-dev/pandas
  Cloning https://github.com/pandas-dev/pandas to /tmp/pip-req-build-m4xqq20x
  Running command git clone -q https://github.com/pandas-dev/pandas /tmp/pip-req-build-m4xqq20x
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0.dev0+1627.gb2a36bdf88) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0.dev0+1627.gb2a36bdf88) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.0.dev0+1627.gb2a36bdf88) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.0.dev0+1627.gb2a36bdf88) (1.15.0)
Building wheels for collected packages: pandas
  Building wheel for pandas (PEP 517) ... done
  Created wheel for pandas: filename=pandas-1.3.0.dev0+1627.gb2a36bdf88-cp37-cp37m-linux_x86_64.whl size=38112969 sha256=7662b50626c17ee83227c74f41235cd85894bf8a3142f120a146b34d1f3bb38f
  Stored in directory: /tmp/pip-ephem-wheel-cache-ox1p1vj3/wheels/14/0b/34/d2d31170c904e2e88d135c4509ea78807aafa5b97990a6cd2b
Successfully built pandas
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.3.0.dev0+1627.gb2a36bdf88 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.3.0.dev0+1627.gb2a36bdf88